table
{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
}

thead th
{
    background-color: darkorange;
    color: white;
}

thead th:nth-child(1) {
  width: 25%;
}

thead th:nth-child(2) {
  width: 25%;
}

thead th:nth-child(3) {
  width: 35%;
}

thead th:nth-child(4) {
  width: 15%;
}

th, td
{
    padding: 10px;
    border: 2px solid black;
    overflow: hidden;
    text-overflow: ellipsis;
}


